{% extends "base/base.html" %}

{% import 'components/base.html' as ui %}
{% import 'components/forms.html' as forms %}

{% block title %}Alterar e-mail{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 col-xl-5 card mx-auto bg-light">
        <div class="card-body">

            <div class="text-center pb-3 border-bottom mb-4">
                <h3>Alterar e-mail</h3>
            </div>

            {{ ui.flashed_messages() }}

            <div>
                <p>Favor informar o novo e-mail e clicar no botão Verificar. Será enviada uma nova mensagem de verificação para confirmar a alteração.</p>
            </div>

            <form action="{{ url_for('routes.auth.update_email') }}" method="POST">
                {{ forms.textInput(name="login", label="E-mail", required=true, value=email) }}

                <div class="text-center mb-1 pt-4 d-flex">
                    <button type="submit" class="btn btn-primary flex-fill">Verificar e-mail</button>
                </div>
            </form>

            <div class="text-center small mt-4 pt-3 border-top">
                <a href="{{ cancel_url }}">E-mail está correto? Clique aqui para voltar.</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}