<div class="container py-3">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <h4>Endereço</h4>
            <p class="small opacity-75">
                Clínica Veterinária de Ensino UFJF<br>
                Rua Capitão Arnaldo de Carvalho, 135 – Jardim Glória<br>
                Juiz de Fora – 36036-180
            </p>
        </div>
        <div class="col-md-4 col-sm-12 text-center">
            <h4>Contato</h4>
            <p class="small opacity-75">Telefone: (32) 2102-3592</p>
        </div>
        <div class="col-md-4 col-sm-12 text-end">
            <h4>Sobre a Clínica</h4>
            <p class="small opacity-75">
                A Clínica Veterinária de Ensino é um espaço de vivência prática do curso de
                Medicina Veterinária da UFJF nas áreas de Patologia Clínica, Clínica Médica e Cirúrgica de Animais de
                Estimação.
            </p>
        </div>
    </div>
</div>