{% macro flashed_messages() -%}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

{% if category in ['success', 'info', 'warning', 'danger'] %}
{% set category = category %}
{% else %}
{% set category = 'danger' %}
{% endif %}

<div class="alert alert-{{ category }} alert-sm small" role="alert">
    {{ message }}
</div>

{% endfor %}
{% endif %}
{% endwith %}

{%- endmacro %}

{% macro docLink(doc_id, icon, label='') -%}
<button type="button" class="btn btn-outline-secondary btn-sm btn-doc-modal" {% if doc_id %} data-doc-url="{{ url_for('routes.profile.doc_view', doc_id=doc_id)  }}" {% endif %} data-bs-toggle="modal" data-bs-target="#docModal"
        {% if not doc_id %}disabled{% endif %}>
    <i class="fas fa-{{ icon }}"></i> {{ label }}
</button>
{%- endmacro %}